@media screen and (min-width:768px) and (max-width:1024px) {
    #card{
        flex-direction: row;
        height: 300px;
        width: 750px;
        flex-wrap: wrap;
        transition: 0.5s;
    }
    #card :nth-child(4){
        flex-basis: 500px;
        text-align: center;
    }
}

@media screen and (min-width:1024px) {
    #card{
        width: 800px;
        flex-wrap: wrap;
        flex-direction: row;
        height: 250px;
    }
    #card :nth-child(4){
        flex-basis: 500px;
        text-align: center;
    }
}