*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(23, 25, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* animação da imagem */
@keyframes animationImg {
    50%{transform: translateY(5px);}
}
/* container */
#container{
    background-color: rgb(34, 34, 34);
    padding: 15px 10px;
    border-radius: 10px;
    border: 2px solid white;
}
/* form */
#itexto{
    border-radius: 10px;
    border: 2px solid black;
    outline: 0px;
    text-align: center;
}
#seach{
    padding: 2px 4px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(241, 47, 47);
    font-weight: bold;
    color: white;
}
/* imagem */
#img{
    display: block;
    background-color: rgba(137, 43, 226, 0.686);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
    animation-name: animationImg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#imgPokemon{
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
}
/* texto */
#namePokemon{
    font-size: 16px;
    text-align: center;
    color: white;
}
/* informações corporal do pokemon */
#corpo{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.titulo{
    margin-top: 10px;
    font-size: 16px;
    color: rgb(114, 108, 108);
    text-align: center;
}
.texto{
    margin-top: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
}

/* tipo do pokemon*/
#tipo_info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#titulo_type{
    font-size: 16px;
    color: rgb(114, 108, 108);
    text-align: center;
}
#typePokemon{
    font-size: 15px;
    color: white;
    text-align: center;
}